In [1]:
# Load and preview dataset
import datetime
from pickle import load
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [14]:
day = 24 * 60 * 60
year = 365.2425 * day

In [15]:
df = pd.DataFrame(columns=['date', 'sin'])
df

Empty DataFrame
Columns: [date, sin]
Index: []

In [16]:
df.date = pd.date_range(start='2018-01-01', end='2021-03-01', freq='D')
df

           date  sin
0    2018-01-01  NaN
1    2018-01-02  NaN
2    2018-01-03  NaN
3    2018-01-04  NaN
4    2018-01-05  NaN
...         ...  ...
1151 2021-02-25  NaN
1152 2021-02-26  NaN
1153 2021-02-27  NaN
1154 2021-02-28  NaN
1155 2021-03-01  NaN

[1156 rows x 2 columns]

In [20]:
df.sin = df.date - 100
df

TypeError: Invalid comparison between dtype=datetime64[ns] and int

In [7]:
df.sin = (df.sin * 100).round(2)
df

           date     sin
0    2018-01-01  100.62
1    2018-01-02  102.34
2    2018-01-03  104.06
3    2018-01-04  105.78
4    2018-01-05  107.49
...         ...     ...
1151 2021-02-25  181.75
1152 2021-02-26  182.73
1153 2021-02-27  183.68
1154 2021-02-28  184.61
1155 2021-03-01  185.52

[1156 rows x 2 columns]

In [8]:
df.date = df.date.apply(lambda d: d.strftime('%Y-%m-%d'))
df

            date     sin
0     2018-01-01  100.62
1     2018-01-02  102.34
2     2018-01-03  104.06
3     2018-01-04  105.78
4     2018-01-05  107.49
...          ...     ...
1151  2021-02-25  181.75
1152  2021-02-26  182.73
1153  2021-02-27  183.68
1154  2021-02-28  184.61
1155  2021-03-01  185.52

[1156 rows x 2 columns]